/* General Styles */
.checkout img{
    width: 75px;
}

.checkout button {
    width: 10%;
    height: auto;
    min-width: 25px;
    min-height: 25px;
}
.checkout-container{
    padding: 50px;
}
.checkout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    gap: 100px;
    padding: 30px; 
}
/* Styles for Left Side*/
.leftSide{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 600px;
}

.checkout-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.quantity{
    display: flex;
    align-items: center;
    gap: 10px;
}

.priceDelete{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    width: 25%;
}

.photo-title{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 15px;
}

/* Styles for Right Side*/
.right{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    width: 50%;
    min-width: 250px;

}
.right button{
    width: 100%;
    height: 50px;
}

.rightSide{
    padding-right: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}