*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card img{
    width: 40%;
}
.shop{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
    justify-content: left;
    padding: 0 100px 0 100px; 
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    height: 500px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}   

.shop-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 110px;
    padding-left: 110px;
}

.left-shop-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-shop-info button{
    padding: 10px;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.right-shop-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-shop-info input{
    border-radius: 5px;
    padding: 5px 10px;
  }

.filters{
    display: flex;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info p{
    font-size: 1.2rem;
}

.checkout-details input{
    width: 20%;
    margin: 10px;
}

.checkout-details {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Container to control both sidebar and content */
.container {
    display: flex;
    transition: width 0.3s ease-in-out;
  }
  
  
  /* Sidebar Styling */
  .sidebar {
    width: 0; /* Starts collapsed */
    overflow: hidden;
    background: #f1f1f1;
    padding: 0;
    transition: width 0.3s ease-in-out;
    height: 250px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-right: -40px;
  }
  
  /* Sidebar Open */
  .sidebar.open {
    width: 250px; /* Slide in */
    margin-left: 30px;
    margin-right: -40px;
  }
  
  /* Main Content */
  .shop {
    flex: 1;
    transition: width 0.3s ease-in-out;
  }
  
  /* Close Button */
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    left: 260px;
  }
  
  /* Filter Button */
  .filter-button {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .filter-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }

  .buy-Btn{
    padding: 10px;
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
